<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Mi perfil</h4>
        <h6 class="card-subtitle">+++</h6>
        <form
          [formGroup]="perfilForm"
          autocomplete="off"
          class="form p-t-20"
          (ngSubmit)="actualizarPerfil()"
        >
          <div class="form-group">
            <label for="exampleInputuname2">User Name</label>
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                id="exampleInputuname2"
                placeholder="Username"
                formControlName="nombre"
              />
              <div class="input-group-addon"><i class="ti-user"></i></div>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail2">Email address</label>
            <div class="input-group">
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail2"
                placeholder="Enter email"
                formControlName="email"
                [readonly]="usuario.google"
              />
              <div class="input-group-addon"><i class="ti-email"></i></div>
            </div>
          </div>

          <div class="text-left">
            <button
              type="submit"
              [disabled]="perfilForm.invalid"
              class="btn btn-success btn-block waves-effect waves-light m-r-10"
            >
              <i class="fa fa-save"></i>
              Guardar cambios
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Avatar</h4>
        <h6 class="card-subtitle">imagen del usuario</h6>

        <div class="form-group text-center">
          <img *ngIf="!imgTemp" [src]="usuario.imagenUrl" class="img-avatar" />
          <img *ngIf="imgTemp" [src]="imgTemp" class="img-avatar" />
        </div>
        <div class="form-group">
          <input
            type="file"
            #fileInput
            (click)="onInputClick($event)"
            (change)="cambiarImagen($event)"
          />
        </div>
        <div class="form-group">
          <button
            type="button"
            [disabled]="!imagenSubir"
            (click)="subirImagen()"
            class="btn btn-success btn-block waves-effect waves-light m-r-10"
          >
            <i class="fa fa-save"></i>
            Cambiar imagen
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
