.fast {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

#googleBtn{
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

.cursor{
    cursor: pointer;
}

.img-avatar{
    width: 170px;
    height: 170px;
}

.w100{
    width: 100px;
}

.w50{
    width:50px;
}

.w140{
    width: 140px;
}

.avatar{
    border: 1px solid grey;
    width: 75px;
    height: 75px;
    border-radius: 100%;
}

.fondo-modal-image{
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0px;
    left: 0xp;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.oculto{
    display: none;
}