.fast {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

#googleBtn{
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

.cursor{
    cursor: pointer;
}

.img-avatar{
    width: 170px;
    height: 170px;
}